/* WhatsAppButton.css */

.whatsapp-button {
  position: fixed;
  bottom: 50px;
  right: 40px;
  background-color: #25d366;
  color: white;
  padding: 15px;
  border-radius: 50%; /* Make the background a circle */
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}
